#### Importing libraries

In [22]:
import pandas as pd

In [61]:
#Import the titanic dataset
train_data = pd.read_csv("C:\\Users\\user\\Desktop\\Titanic dataset\\train.csv")
test_data = pd.read_csv("C:\\Users\\user\\Desktop\\Titanic dataset\\test (2).csv")
all_data = [train_data, test_data]

In [62]:
#Check the train data description
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [63]:
#Check the test Data Description
test_data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [64]:
#Check for null values in the train data
train_data.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [65]:
#Check for null values in the test data
test_data.isnull().any()

PassengerId    False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin           True
Embarked       False
dtype: bool

In [66]:
#Check for the correlation between the 'survived' feature and the other features in the train data
train_data.corr().loc['Survived'].sort_values()

Pclass        -0.338481
Age           -0.077221
SibSp         -0.035322
PassengerId   -0.005007
Parch          0.081629
Fare           0.257307
Survived       1.000000
Name: Survived, dtype: float64

#### Fill up the missing columns

In [67]:
for data in all_data:
    data['Embarked'] = data['Embarked'].fillna('S')

In [68]:
for data in all_data:
    data['Fare'] = data['Fare'].fillna(data['Fare'].median())

In [69]:
for data in all_data:
    data['Age'] = data['Age'].fillna(data['Age'].median())

In [70]:
train_data.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked       False
dtype: bool

In [71]:
test_data.isnull().any()

PassengerId    False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked       False
dtype: bool

#### Feature Engineering: To check for the impact of each feature on the target variable.

In [72]:
#Feature Pclass
print( train_data[["Pclass","Survived"]].groupby(["Pclass"], as_index = False).mean() )

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [73]:
#Feature Sex
print( train_data[["Sex","Survived"]].groupby(["Sex"], as_index = False).mean() )

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [74]:
#Feature Embarked
print( train_data[["Embarked","Survived"]].groupby(["Embarked"], as_index = False).mean() )

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [75]:
#Feature Age
train_data['category_age'] = pd.cut(train_data['Age'].rank(method='first'), 5)
print( train_data[["category_age","Survived"]].groupby(["category_age"], as_index = False).mean() )

     category_age  Survived
0   (0.11, 179.0]  0.458101
1  (179.0, 357.0]  0.387640
2  (357.0, 535.0]  0.269663
3  (535.0, 713.0]  0.432584
4  (713.0, 891.0]  0.370787

In [76]:
#Feature Fare
train_data['category_fare'] = pd.qcut(train_data['Fare'].rank(method='first'), 4)
print( train_data[["category_fare","Survived"]].groupby(["category_fare"], as_index = False).mean() )

    category_fare  Survived
0  (0.999, 223.5]  0.197309
1  (223.5, 446.0]  0.300448
2  (446.0, 668.5]  0.454955
3  (668.5, 891.0]  0.582960

In [77]:
#Feature SibSp
print( train_data[["SibSp","Survived"]].groupby(["SibSp"], as_index = False).mean() )

   SibSp  Survived
0      0  0.345395
1      1  0.535885
2      2  0.464286
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [78]:
#Featue Parch
print( train_data[["Parch","Survived"]].groupby(["Parch"], as_index = False).mean() )

   Parch  Survived
0      0  0.343658
1      1  0.550847
2      2  0.500000
3      3  0.600000
4      4  0.000000
5      5  0.200000
6      6  0.000000

In [81]:
#Feature Ticket
print( train_data[["Ticket","Survived"]].groupby(["Ticket"], as_index = False).mean() )

          Ticket  Survived
0         110152  1.000000
1         110413  0.666667
2         110465  0.000000
3         110564  1.000000
4         110813  1.000000
..           ...       ...
676   W./C. 6608  0.000000
677   W./C. 6609  0.000000
678  W.E.P. 5734  0.000000
679    W/C 14208  0.000000
680    WE/P 5735  0.500000

[681 rows x 2 columns]

#### Feature Selection

In [34]:
#Drop columns that do not from both data sets
train_data.drop(['PassengerId',"Name", "Ticket", "Cabin", "SibSp", "Parch" ], axis = 1, inplace=True)
test_data.drop(["Name", "Ticket", "Cabin", "SibSp", "Parch"], axis = 1, inplace=True)

In [35]:
train_data.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Fare', 'Embarked'], dtype='object')

In [36]:
test_data.columns

Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'Fare', 'Embarked'], dtype='object')

In [37]:
#Map Data
for data in all_data:

    #Mapping Sex
    sex_map = { 'female':0 , 'male':1 }
    data['Sex'] = data['Sex'].map(sex_map).astype(int)

    #Mapping Embarked
    embark_map = {'S':0, 'C':1, 'Q':2}
    data['Embarked'] = data['Embarked'].map(embark_map).astype(int)

    #Mapping Fare
    data.loc[ data['Fare'] <= 7.91, 'Fare']                            = 0
    data.loc[(data['Fare'] > 7.91) & (data['Fare'] <= 14.454), 'Fare'] = 1
    data.loc[(data['Fare'] > 14.454) & (data['Fare'] <= 31), 'Fare']   = 2
    data.loc[ data['Fare'] > 31, 'Fare']                               = 3
    data['Fare'] = data['Fare'].astype(int)

    #Mapping Age
    data.loc[ data['Age'] <= 16, 'Age']                       = 0
    data.loc[(data['Age'] > 16) & (data['Age'] <= 32), 'Age'] = 1
    data.loc[(data['Age'] > 32) & (data['Age'] <= 48), 'Age'] = 2
    data.loc[(data['Age'] > 48) & (data['Age'] <= 64), 'Age'] = 3
    data.loc[ data['Age'] > 64, 'Age']                        = 4

In [38]:
train_data.head()

   Survived  Pclass  Sex  Age  Fare  Embarked
0         0       3    1  1.0     0         0
1         1       1    0  2.0     3         1
2         1       3    0  1.0     1         0
3         1       1    0  2.0     3         0
4         0       3    1  2.0     1         0

In [39]:
test_data.head()

   PassengerId  Pclass  Sex  Age  Fare  Embarked
0          892       3    1  2.0     0         2
1          893       3    0  2.0     0         0
2          894       2    1  3.0     1         2
3          895       3    1  1.0     1         0
4          896       3    0  1.0     1         0

In [40]:
#Prediction
#Train and Test data
X_train = train_data.drop("Survived", axis=1)
Y_train = train_data["Survived"]
X_test  = test_data.drop("PassengerId", axis=1).copy()

In [44]:
#Running the DecisionTreeClassifier to predict accuracy of the model
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
accuracy = round(clf.score(X_train, Y_train) * 100, 2)
print("Model Accuracy: ",accuracy)

Model Accuracy:  84.51